<!DOCTYPE html>
<html>
<head>
    <title>List Goals</title>
</head>
<body>
    <h3><a href="/users/{{fbid}}/add_goal">Add Goal</a></h3>
    <h3>List Goals</h3>
    {% if goals|length == 0 %}
    No Goals Yet
    {% endif %}
    {% for goal in goals %}
    <div>
        <span>{{ goal.id }}</span> -
        <span>{{ goal.name }}</span> - 
        <span>{{ goal.user.full_name }}</span> - 
        <span>{{ goal.send_text }}</span> - 
        <span>{{ goal.send_time_utc }}</span> - 
    </div>
    {% endfor %}

</body>
</html>