<!DOCTYPE html>
<html>
<head>
    <title>Show Goal</title>
</head>
<body>
    <div>
        <h3>{{ goal.name }}</h3>
    </div>
    <div>
        {% for goal_entry in goal_entries %}
            <div>
                {% if goal.response_type == 0 %}
                    {{ goal_entry.numeric_value }}
                {% elif goal.response_type == 1 %}
                    {{ goal_entry.binary_value }}
                {% elif goal.response_type == 2 %}
                    {{ goal_entry.text_value }}
                {% elif goal.response_type == 3 %}
                    FILE GOES HERE
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>