<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Connect Accounts</title>
    <link rel="stylesheet" type"text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type"text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
    <!-- jQuery -->
</head>

<body>
    <div class="container">

        <h1><span class="h-light">API</span> <span class="h-strong">DASHBOARD</span></h1>
        <a href="/users/{{fbid}}/logs" class="nav-link">Your logs >></a>

        <hr>

        <div class="row">
            <div class="col-4">
                <a href="https://www.lyft.com/oauth/authorize?client_id=OyrF54XChtFI&response_type=code&scope=public%20rides.read%20offline%20rides.request&state={{fbid}}">
                    {% if lyft_connected_flag %}
                    <div class="auth_card authorized" id="lyft_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="lyft_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="https://foursquare.com/oauth2/authenticate?client_id=N3HGCSUUK343TYRMTK2YTYQOFGBIBNQY4NSC3PSPZRIDIIEB&response_type=code&redirect_uri=https://userdatagraph.herokuapp.com/foursquare_redirect/{{fbid}}">
                    {% if foursquare_connected_flag %}
                    <div class="auth_card authorized" id="foursquare_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="foursquare_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="https://login.uber.com/oauth/v2/authorize?client_id=xkRDCK6GiqX3ZrTerdkCYHveB-0qBuyJ&response_type=code&state={{fbid}}&scope=profile history history_lite places all_trips request">
                    {% if uber_connected_flag %}
                    <div class="auth_card authorized" id="uber_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="uber_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="https://api.instagram.com/oauth/authorize/?client_id=98b316448be94cdfbc33e046405c1135&redirect_uri=https://userdatagraph.herokuapp.com/instagram_redirect&response_type=code&state={{fbid}}&scope=basic+public_content">
                    {% if instagram_connected_flag %}
                    <div class="auth_card authorized" id="instagram_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="instagram_card"></div>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227ZCW&redirect_uri=https://userdatagraph.herokuapp.com/fitbit_redirect&scope=activity heartrate location profile sleep weight&state={{fbid}}">
                    {% if fitbit_connected_flag %}
                    <div class="auth_card authorized" id="fibit_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="fitbit_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    {% if gmail_connected_flag %}
                    <div class="auth_card authorized" id="gmail_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="gmail_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    {% if gcal_connected_flag %}
                    <div class="auth_card authorized" id="gcal_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="gcal_card"></div>
                    {% endif %}
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    {% if gdrive_connected_flag %}
                    <div class="auth_card authorized" id="gdrive_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="gdrive_card"></div>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="#">
                    {% if facebook_connected_flag %}
                    <div class="auth_card authorized" id="facebook_card"></div>
                    <div class="check"></div>
                    {% else %}
                    <div class="auth_card" id="facebook_card"></div>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    
</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</html>