<!DOCTYPE html>
<html>
<head>
    <title>Learn More</title>
</head>
<body>
    <div>
        <h1>About</h1>
        <h3>What is this?</h3>
        <p>I'm here to help you be a better you. There's probably a lot of things you want to do in your day to day life, and I'm here to help you with some of those things! Learn more about what I can help you do below.</p>
        <h3>Why through messenger?</h3>
        <p>Many of us use messenger all the time to chat with our friends and loved ones. Since you're already on messenger a lot each day, it's easy to chat me so I can help you do more.</p>
    </div>
    <div>
        <h1>How to use</h1>
        <h3>Habits (chat "habits" to get started)</h3>
        <p>I can help you build a habit by sending you a message each day that you respond to so you can track how you're doing.</p>
        <p>e.g. If you want to go to the gym more, I can message you everyday asking you if you've gone to the gym, and you can easily tap yes or no and I'll show you how often you've been going.</p>
        <p>e.g. If you want to lose weight, I can message you everyday asking for your weight to remind you to track it. I'll show you your trend over time too!</p>
        <p>e.g. If you want to track how happy you are I can message you asking you how happy you are on a scale of 1-10 and I'll keep track of your response!</p>

        <h3>Logging</h3>
        <p>There are often many things that we want to keep a log of, but it's hard since there are no good tools to help us do this.</p>
        <p></p>
        <h3>To Do (chat "todo" to get started)</h3>
        <p>I can also help you manage your to do list all in one place. Chat me "todo" to view your todos, and chat "add todo ..." to add something to your to do list!</p>
    </div>
</body>
</html>