{% extends 'main/main_base.html' %}
{% load static %}
{% block content %}
<div class="h1">Want to view your thoughts? - just 
<a href="https://www.facebook.com/dialog/oauth?client_id=257720774614110&redirect_uri=https://userdatagraph.herokuapp.com/fblogin_redirect&response_type=code&scope=public_profile,email">log in with your facebook account</a>!</div>
<hr>
<br>
<div class="h1">If you haven't used signed up yet and chatted with the bot we need to link your account first:</div>
<br>
<div class="fb-send-to-messenger" 
messenger_app_id="257720774614110" 
page_id="609388442561960" 
data-ref="TRY"
color="blue" 
size="large"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '257720774614110',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}