{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>LastThought</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<meta content='user-scalable=0' name='viewport' />
</head>
<body>
	<div class="h-center">
		<div class="cta">
			<div class="inner-cta">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>