<!DOCTYPE html>
<html>
<head>
    <title>Ridesharing Setup</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    {% if lyft_set_up_flag %}
        <a href="#">Disconnect Lyft</a><br>
    {% else %}
        <a href="https://www.lyft.com/oauth/authorize?client_id=OyrF54XChtFI&response_type=code&scope=public%20rides.read%20offline%20rides.request&state={{fbid}}">Click to Connect Lyft</a><br><br>
    {% endif %}

    {% if uber_set_up_flag %}
        <a href="#">Disconnect Uber</a>
    {% else %}
        <a href="#">Click to Connect Uber</a><br><br>
    {% endif %}
    
    {% if lyft_set_up_flag or uber_set_up_flag %}
        <div>
            <input type="hidden" name="fbid" value="{{fbid}}">
            <input type="text" name="home-address" placeholder="Enter your home address"><br>
            <input type="text" name="work-address" placeholder="Enter your work address"><br>
            <span>Select your default commute ride type:</span>
            <input type="radio" name="ride-type" value="0" checked>Lyft Line/UberPool<br>
            <input type="radio" name="ride-type" value="1">Classic Lyft/Uber<br>
            <input type="radio" name="ride-type" value="2">Lyft/Uber Plus<br>
            <button class="update-rideshare-info">Submit</button>
        </div>
    {% endif %}


    <script type="text/javascript">
        $('.update-rideshare-info').click(function() {
            var fbid = $('input[name=fbid]').val();
            var workAddress = $('input[name=work-address]').val();
            var homeAddress = $('input[name=home-address]').val();
            var preferredRideType = $('input[name=ride-type]:checked').val();

            var payload = {
                work_address: workAddress,
                home_address: homeAddress,
                preferred_ride_type: preferredRideType,
                fbid: fbid
            };

            var requestUrl = "https://userdatagraph.herokuapp.com/rideshare_information/";

            $.ajax({
                method: 'POST',
                url: requestUrl,
                data: payload
            });

            
        });     
    </script>
</body>
</html>