<!DOCTYPE html>
<html>
<head>
    <title>Try</title>
</head>
<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '257720774614110',
          xfbml      : true,
          version    : 'v2.7'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <span>Before you can login, start using us in Messenger:</span><br>
    <div class="fb-messengermessageus" 
      messenger_app_id="257720774614110" 
      page_id="609388442561960" 
      data-ref="" 
      color="blue" 
      size="large"></div>
</body>
</html>