* { 
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: auto;
	width: calc(100% - 20px);
	max-width: 700px;
	position: relative;
	padding: 10px;
}

.row:before, 
.row:after {
	content:"";
	display: table;
	clear:both;
}

.row {
	height: 100%;
	position: relative;
	text-align: center;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	height: 100%;
	text-align: center; 
	display:block;
	position: relative;
}

.col-4 {
	width: calc(25% - 10px);
	text-align: center;
	margin: 5px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0px;
}

.context-title {
	color: #6A8;
}

a {
	text-decoration: none;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.context-section {
	margin: 10px 0px;
}


.context-box {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.log-context {
	width: 95%;
	background-color: #8AC;
	padding-left: 3px;
	padding-right: 3px;
	overflow: hidden;
	height: 100%;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.log-context:hover, .log-back:hover {
	background-color: #68A;
}

.log-img {
	height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.timestamp {
	text-align: left;
	margin-bottom: 20px;
	font-size: 14px;
	color: #68A;
}

.log-back {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #8AC;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 14px;
	line-height: 50px;
	height: 50px;
	color: white;
	text-align: center;
}

.nav-shift {
	margin-top: 50px;
}

.log-entry {
	padding: 20px;
	border: 1px dashed #DDD;
	text-align: left;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 20px;
}

@media all and (max-width:1000px){
	.col-4 { width: calc(33.3% - 10px); }	
	.container { max-width: none; }
	h1 { font-size: 80px; }
	.context-box {
		height: 70px;
		line-height: 70px;
		font-size: 30px;
	}
	.log-entry {
		font-size: 28px;
		line-height: 38px;
	}
	.timestamp {
		font-size: 22px;
	}
	.log-back {
		font-size: 35px;
		line-height: 100px;
		height: 100px;
	}
	.nav-shift {
		margin-top: 100px;
	}
}