* { 
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}

.row:before, 
.row:after {
	content:"";
	display: table;
	clear:both;
}

.row {
	height: 100%;
	position: relative;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	height: 100%;
	display:block;
	position: relative;
}