* { 
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F9;
}

.container {
	margin: auto;
	width: calc(100% - 60px);
	max-width: 700px;
	position: relative;
	padding: 30px;
}

.row:before, 
.row:after {
	content:"";
	display: table;
	clear:both;
}

.row {
	height: 100%;
	position: relative;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	height: 100%;
	text-align: center; 
	display:block;
	position: relative;
}

.col-4 {
	width: calc(25% - 10px);
	text-align: center;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin: 20px 0px;
	color: #555;
}

.h-light {
	font-weight: 300;
}

.h-strong {
	font-weight: 900;
}

.nav-link {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 30px;
	margin-top: 60px;
	color: #6A8;
}

.nav-link:hover {
	color: #4C8;
}

.context-title {
	color: #6A8;
}

a {
	text-decoration: none;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


select {
	border-radius: 0px;
	border-width: 0px;
	-webkit-appearance: none;
 	-webkit-border-radius: 0px;
	background-color: #8AC;
	color: white;
	padding: 10px;
	text-align: center;
}

input {
	border: none;
	background-color: #8AC;
	box-shadow: inset 1px 1px 1px #468;
	padding: 10px;
	color: white;
	width: calc(100% - 20px);
}

::-webkit-input-placeholder {
	color: white;
	opacity: 0.7;
}

:-moz-placeholder {
	color: white;
	opacity: 0.7;
}
::-moz-placeholder {
	color: white;
	opacity: 0.7;
}
:-ms-input-placeholder {
	color: white;
	opacity: 0.7;
}

.context-section {
	margin: 20px 0px;
}


.context-box {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.log-context {
	width: 95%;
	background-color: #8AC;
	padding-left: 3px;
	padding-right: 3px;
	overflow: hidden;
	height: 100%;
	color: white;
	border-radius: 2px;
	text-align: center;
}

.log-context:hover, .log-back:hover {
	background-color: #68A;
}

.log-img {
	width: 100%;
	height: auto;
}

.timestamp {
	text-align: left;
	margin-bottom: 20px;
	font-size: 14px;
	color: #68A;
}

.log-back {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #8AC;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 14px;
	line-height: 50px;
	height: 50px;
	color: white;
	text-align: center;
}

.nav-shift {
	margin-top: 50px;
}

.log-entry {
	padding: 20px;
	/*border: 1px solid #DDD;*/
	text-align: left;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 35px;
	box-shadow: 1px 1px 2px #999;
	background-color: #FFF;
}

.type-circle {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -25px;
	margin-left: -25px;
	background-size: cover;
	background-position: center;
	background-repeat: none;
}

.delete {
	height: 15px;
	width: auto;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 20px;
	opacity: 0.4;
}

.delete:hover {
	cursor: pointer;
	opacity: 0.8;
}

@media all and (max-width:1000px){
	.col-4 { width: calc(33.3% - 10px); }	
	.container { max-width: none; }
	h1 { font-size: 60px; }
	.nav-link { margin-top: 30px;}
	.context-box {
		height: 70px;
		line-height: 70px;
		font-size: 30px;
	}
	select {
		font-size: 20px;
	}
	.log-entry {
		font-size: 28px;
		line-height: 38px;
	}
	.timestamp {
		font-size: 22px;
	}
	.log-back {
		font-size: 35px;
		line-height: 100px;
		height: 100px;
	}
	.nav-shift {
		margin-top: 100px;
	}
}