<!DOCTYPE html>
<html>
<head>
    <title>See your logs</title>
</head>
<body>
    <div>
        <h2>Your Contexts</h2>
        {% for log_context in log_context_list %}
        <a href="/users/{{fbid}}/log_context/{{log_context.id}}">{{log_context.context_name}}</a><br>
        {% endfor %}
    </div>
    
    <div>
        <h2>All Logs</h2>
        {% for log_entry in log_entry_list %}

            {% if log_entry.entry_type == 0 %}
            <li>{{log_entry.textlogentry.text_value}}</li>
            {% elif log_entry.entry_type == 1 %}
            <li>{{log_entry.numericlogentry.numeric_value}}</li>
            {% elif log_entry.entry_type == 2 %}
            <a href="{{ log_entry.imagelogentry.image_url }}">
                <img src="{{ log_entry.imagelogentry.image_url }}" style="width:100px;"><br>
            </a>
            {% endif %}

        {% endfor %}
    </div>
</body>
</html>