{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>View logs</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Your logs</h1>

    <hr>

    <div class="row context-section">
      {% if log_context_list|length == 0 %}
      No contexts yet
      {% endif %}

      {% for log_context in log_context_list %}
      <div class="col-4 context-box">
        <a href="/users/{{fbid}}/log_context/{{log_context.id}}">
          <div class="log-context">
            {{log_context.context_name}}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    {% for log_entry in log_entry_list %}
    <div class="row">
      <div class="log-entry" data-logentryid="{{log_entry.id}}">
        <div class="timestamp">{{log_entry.occurred_at}}</div>
        <a class="delete" href="#">Delete</a>
        {% if log_entry.entry_type == 0 %}

          <p>{{log_entry.textlogentry.text_value}}</p>

        {% elif log_entry.entry_type == 1 %}

          <p>{{log_entry.numericlogentry.numeric_value}}</p>

        {% elif log_entry.entry_type == 2 %}

            <div class="log-img" style="background-image: url('{{ log_entry.imagelogentry.image_url }}'); height: {{log_entry.imagelogentry.image_height}}px; width: {{log_entry.imagelogentry.image_width}}px;"></div>

        {% elif log_entry.entry_type == 3 %}

          {% if log_entry.ridelogentry.rideshare_service == 0 %}

            You took a {{log_entry.ridelogentry.ride_type}} from {{log_entry.ridelogentry.origin_address}} to {{log_entry.ridelogentry.dropoff_address}}. It cost ${{log_entry.ridelogentry.price_in_dollars}}. 

          {% elif log_entry.ridelogentry.rideshare_service == 1 %}

            You took an Uber ({{log_entry.ridelogentry.ride_type}}) in {{log_entry.ridelogentry.start_city_name}} and traveled {{log_entry.ridelogentry.distance}} miles.

          {% endif %}

        {% elif log_entry.entry_type == 4 %}

          You checked in to {{log_entry.venuelogentry.name}} at {{log_entry.venuelogentry.formatted_address}}.

        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
    $('.delete').click(function() {
      var logEntryId = $(this).parent().data('logentryid');

      // DELETE to /logs
      $.ajax({
          method: 'DELETE',
          url: '/logs/' + logEntryId,
          success: function() {
              // Clear fields
              location.reload();
          }
      })
      });
  </script>
</body>
</html>