{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>View logs</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <h1><span class="h-strong">{{ start_date }} &harr; {{ end_date }}</span></h1>

    <a href="/logout" class="nav-link">Logout >></a>

    <hr>

    <div class="row context-section">
      
      {% for log_context in log_context_list %}
        <div class="col-4 context-box">
          <a href="/users/{{fbid}}/log_context/{{log_context.id}}">
            <div class="log-context">
              {{log_context.context_name}}
            </div>
          </a>
        </div>
      {% endfor %}

    </div>

    <hr>

    <br>

    {% for log_entry in log_entry_list %}
    {% if log_entry.entry_type < 3 %}
    <div class="row">
      <div class="log-entry" data-logentryid="{{log_entry.id}}">
        <div class="timestamp">{{log_entry.occurred_at}}</div>
        <img class="delete" src="{% static 'img/close.png' %}"/>
        {% if log_entry.entry_type == 0 %}

          <p>{{log_entry.textlogentry.text_value}}</p>

        {% elif log_entry.entry_type == 1 %}

          <p>{{log_entry.numericlogentry.numeric_value}}</p>

        {% elif log_entry.entry_type == 2 %}

          <img src="{{ log_entry.imagelogentry.image_url }}" class="log-img"/>

        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <script type="text/javascript">
    $('.delete').click(function() {
      var logEntryId = $(this).parent().data('logentryid');

      // DELETE to /logs
      $.ajax({
          method: 'DELETE',
          url: '/logs/' + logEntryId,
          success: function() {
              // Clear fields
              location.reload();
          }
      })
      });
  </script>
</body>
</html>