{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>View {{ log_context.context_name }} logs</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  
  <a href="/users/{{fbid}}/logs">
    <div class="log-back">
      Back Home
    </div>
  </a>

  <div class="container nav-shift">
    <h1>Your <span class="context-title">{{ log_context.context_name }}</span> logs</h1>
    <input type="hidden" name="log-context-id" value="{{log_context.id}}">
    <button class="log-context-delete-button">Delete Context</button><br><br>

    {% for log_entry in log_entry_list %}
    {% if log_entry.entry_type < 3 %}
    <div class="row">
      <div class="log-entry" data-logentryid="{{log_entry.id}}">
        {% load tz %}
        <div class="timestamp">{{log_entry.occurred_at}}</div>
        <img class="delete" src="{% static 'img/close.png' %}"/>
        {% if log_entry.entry_type == 0 %}

          <p>{{log_entry.textlogentry.text_value}}</p>

        {% elif log_entry.entry_type == 1 %}

          <p>{{log_entry.numericlogentry.numeric_value}}</p>

        {% elif log_entry.entry_type == 2 %}

          <img src="{{ log_entry.imagelogentry.image_url }}" class="log-img"/>

        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.log-context-delete-button').click(function() {
        var logContextId = $('input[name=log-context-id]').val();
        console.log("asdf: " + logContextId);

        // POST to delete context

        $.ajax({
            method: 'DELETE',
            url: '/log_contexts/' + logContextId,
            success: function() {
                // Clear fields
                window.location.href = "/users/{{fbid}}/logs";
            }
        })
      });
    });

    $('.delete').click(function() {
      var logEntryId = $(this).parent().data('logentryid');

      // DELETE to /logs
      $.ajax({
          method: 'DELETE',
          url: '/logs/' + logEntryId,
          success: function() {
              // Delete the html
              var selector = '.log-entry[data-logentryid='+logEntryId+']'
              var logEntryDiv = $(selector).parent().slideUp("iterm", function() {
                  $(this).delete();
              });
          }
      })
      });
    
  </script>
</body>
</html>