{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>View {{ log_context.context_name }} logs</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
</head>
<body>
  
  <a href="/users/{{fbid}}/logs">
    <div class="log-back">
      Back to all logs
    </div>
  </a>

  <div class="container nav-shift">
    <h1>Your <span class="context-title">{{ log_context.context_name }}</span> logs</h1>

    {% for log_entry in log_entry_list %}
    <div class="row">

      {% if log_entry.entry_type == 0 %}
      <div class="log-entry">
        <div class="timestamp">{{log_entry.created_at}}</div>
        <p>{{log_entry.textlogentry.text_value}}</p>
      </div>

      {% elif log_entry.entry_type == 1 %}
      <div class="log-entry">
        <div class="timestamp">{{log_entry.created_at}}</div>
        <p>{{log_entry.numericlogentry.numeric_value}}</p>
      </div>  

      {% elif log_entry.entry_type == 2 %}
      <div class="log-entry">
        <div class="timestamp">{{log_entry.created_at}}</div>
        <a href="{{ log_entry.imagelogentry.image_url }}">
          <div class="log-img" style="background-image: url('{{ log_entry.imagelogentry.image_url }}');"></div>
        </a>
      </div>

      {% endif %}
    </div>
    {% endfor %}
  </div>
</body>
</html>