<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>	
	<input type="text" id="isbn_input"></input>
	<button id="submit_isbn">Submit</submit>
</body>
<script>
	$(document).ready(function() {
		$("#submit_isbn").on("click", function() {
			var isbn = $("#isbn_input").val();
			// do data val
			var req_url = "http://openlibrary.org/api/books?bibkeys=ISBN:" + isbn;
			$.get(req_url, function(data) {
				console.log(data);
			});
			
		})
	});

</script>

</html>


