{% extends 'log/user_base.html' %}
{% load static %}
{% block content %}
<hr>

<br>

<a href="/">
  <div class="log-back">
    Back Home
  </div>
</a>

<div class="row search-section">
  <input type="text" placeholder="Search for your thoughts..." value="{{query_term}}" name="search"/>
  <div class="search-button">Search</div>
</div>


{% if log_entry_list|length == 0 %}
<div class="row">
  <div class="no-logs">
    <p>Your search "{{ query_term }}" did not return any results :(</p>
  </div>
</div>
{% else %}

{% for log_entry in log_entry_list %}
{% if log_entry.entry_type < 3 %}
<div class="row">
  <div class="log-entry" data-logentryid="{{log_entry.id}}">
    {% load tz %}
    <div class="row">
      <div class="timestamp">{{log_entry.occurred_at_display_string}}</div>
      {% if log_entry.log_context %}
      <a href="/categories/{{log_entry.log_context.id}}">
        <span class="log-category">
          {{ log_entry.log_context.context_name }}
        </span>
      </a>
      {% endif %}
    </div>

    <img class="delete" src="{% static 'img/close.png' %}"/>
    {% if log_entry.entry_type == 0 %}

      <p>
      {% if log_entry.textlogentry.is_link %}
      <a href="{{log_entry.textlogentry.text_value}}">{{log_entry.textlogentry.text_value}}</a>
      {% else %}
      {{log_entry.textlogentry.text_value}}
      {% endif %}
      </p>

    {% elif log_entry.entry_type == 1 %}

    <p>{{log_entry.numericlogentry.numeric_value}}</p>

    {% elif log_entry.entry_type == 2 %}

    <img src="{{ log_entry.imagelogentry.image_url }}" class="log-img"/>

    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<script type="text/javascript">

    // $(document).ready(function() {
    //   var query_term = '{{query_term}}';
    //   $('.log-entry').each(function(index, value) {
    //     var paragraphEl = $(this).find('p')[0];
    //     if(paragraphEl != null) {
    //       var text = paragraphEl.innerHTML;
    //       var boldedText = '<b>'+query_term+'</b>';
    //       var newText = text.replace(query_term, boldedText);
    //       paragraphEl.html(newText);
    //     }

    //   });
    // });

$('.delete').click(function() {
  var logEntryId = $(this).parent().data('logentryid');

      // DELETE to /logs
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
              }
          }
      });
      $.ajax({
        method: 'DELETE',
        url: '/logs/' + logEntryId,
        success: function() {
              // Delete the html
              var selector = '.log-entry[data-logentryid='+logEntryId+']'
              var logEntryDiv = $(selector).parent().slideUp("iterm", function() {
                $(this).delete();
              });
            }});
    });

$('.search-button').click(function() {
  var searchTerm = $.trim($('input[name=search]').val());
  window.location.href = "/search?query=" + searchTerm;
});

$('input[name=search]').keyup(function(event){
  if(event.keyCode == 13){
    $('.search-button').click();
  }
});

</script>
{% endblock %}