<!DOCTYPE html>
<html>
<head>
    <title>Add Habit</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Timepicker -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}">
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
</head>
<body>
    <div>
        <a href="/users/{{fbid}}/habits">Habits Home</a>
    </div>
    <div>
        <h3>Create Habit</h3>
        <input type="hidden" name="fbid" value="{{ fbid }}"><br>
        <input type="text" name="habit-name" placeholder="Name e.g. Gym"><br>
        <input type="text" name="habit-send-text" placeholder="Send Text e.g. Did you go to the gym today?"><br>
        <input type="text" name="habit-send-time" placeholder="UTC Hour e.g. 15 (3 PM)"><br>
        <input type="radio" name="habit-response-type" value="0" checked>Numeric<br>
        <input type="radio" name="habit-response-type" value="1">Binary<br>
        <input type="radio" name="habit-response-type" value="2">Text<br><br>


        <button class="create-habit-button">Create!</button>

    </div>
    <span class="response-message"></span>
    <script type="text/javascript">
        // Load timepicker
        $('input[name=habit-send-time]').timepicker({
            step: 60
        });


        // Event listeners
        $('.create-habit-button').click(function() {
            var fbid = $('input[name=fbid]').val();
            var name = $('input[name=habit-name]').val();
            var sendText = $('input[name=habit-send-text]').val();

            var date = $('input[name=habit-send-time]').timepicker('getTime', new Date());

            if (date == null) {
                // Form validation error
                return;
            }

            var sendTime = date.getUTCHours();
            var responseType = $('input[name=habit-response-type]:checked').val();

            console.log(fbid);
            console.log(name);
            console.log(sendText);
            console.log(sendTime);
            console.log(responseType);

            var payload = {
                fbid: fbid,
                name: name,
                send_text: sendText,
                send_time_utc: sendTime,
                response_type: responseType,
                csrfmiddlewaretoken: '{{csrf_token}}'
            };

            // POST to /habits
            $.ajax({
                method: 'POST',
                url: '/habits/',
                data: payload,
                success: function() {
                    // Clear fields
                    $('input[name=habit-name]').val("");
                    $('input[name=habit-send-text]').val("");
                    $('input[name=habit-send-time]').val("");
                    $('input[name=habit-response-type]:checked').val("");

                    $('.response-message').text("Success! Habit added!");
                }
            })

        });
    </script>
</body>
</html>