<!DOCTYPE html>
<html>
<head>
    <title>List Habits</title>
</head>
<body>
    <h3><a href="/users/{{fbid}}/add_habit">Add Habit</a></h3>
    <h3>List Habits</h3>
    {% if habits|length == 0 %}
    No Habits Yet
    {% endif %}
    {% for habit in habits %}
    <div>
        <span>{{ habit.id }}</span> -
        <span>{{ habit.name }}</span> - 
        <span>{{ habit.user.full_name }}</span> - 
        <span>{{ habit.send_text }}</span> - 
        <span>{{ habit.send_time_utc }}</span> - 
        <a href="/habits/{{ habit.id }}/show">View Habit Details</a>
    </div>
    {% endfor %}

</body>
</html>