<!DOCTYPE html>
<html>
<head>
    <title>Show Habit</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div>
        <a href="/users/{{fbid}}/habits">Habits Home</a><br><br>
        <input type="hidden" name="habit_id" value="{{habit.id}}">
        <button class="delete-habit-button">Delete</button>
    </div>
    <div>
        <h3>{{ habit.name }}</h3>
        <h4>{{ habit.send_text }}</h4>
    </div>
    <div>
        {% for habit_entry in habit_entries %}
            <div>
                <span>
                    {{ habit_entry.created_at }}
                </span> - 
                <span>
                    {% if habit.response_type == 0 %}
                        {{ habit_entry.numeric_value }}
                    {% elif habit.response_type == 1 %}
                        {{ habit_entry.binary_value }}
                    {% elif habit.response_type == 2 %}
                        {{ habit_entry.text_value }}
                    {% elif habit.response_type == 3 %}
                        FILE GOES HERE
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $('.delete-habit-button').click(function() {
            var habitId = $('input[name=habit_id]').val();

             // DELETE to /habits
            $.ajax({
                method: 'DELETE',
                url: '/habits/' + habitId,
                success: function() {
                    
                    // Go to habits home
                    window.location.href = "/users/{{fbid}}/habits";
                }
            })
        });
    </script>
</body>
</html>