<!DOCTYPE html>
<html>
<head>
    <title>Insupen</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pennapps.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
<body>
    <div class="navbar">InsuPen</div>
    <div class="last-injection-container">
        <div class="last-injection-text">
        Your last dose of <span class="last-num-units">{{last_dose_amount}} units</span> was taken <span class="last-num-hours">{{last_dose_time}}</span> ago.
        </div>
    </div>
    <div class="circle-container">
        <div class="circle">
            <input type="text" class="" value="{{ amount }}" />
            <!-- <div class="units-text">units of Insulin</div> -->
            <button class="inject-button inject-button-free">Inject</button>
        </div>
    </div>
    <div class="doses-container">
        <div class="doses-header">
            <div class="left">
                
            </div><div class="day">Today</div><div class="right">
                
            </div>
        </div>
        <div class="doses-body">
            <div class="back-in-time">
                
            </div><div class="doses-list"> 
                <div class="label">Recent doses:</div>
                {% for d in doses %}
                <div class="dose">
                    <span class="num-units">{{ d.amount }} units</span> - {{ d.get_time_diff_from_now }} ago
                </div>
                {% endfor %}
            </div><div class="forward-in-time">
                
            </div>
        </div>
    </div>
    <div class="bg-container">
        <div class="label">Blood glucose levels:</div>
        <canvas id="myChart" width="250" height="150"></canvas>
    </div>

    <!-- chart js -->
    <!-- <script type="{% static 'js/chartjs/Chart.js' %}"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script> 

    <script type="text/javascript">
        $(document).ready(function() {

            // document.addEventListener('touchstart', function(e) {
            //     console.log('touchstart');
            //     if($('.insulin-amount').is(':focus')) 
            //     {
            //         document.activeElement.blur();
            //     }
                
            // }, false);

            // $('.insulin-amount').click(function(e) {
            //     console.log('insulin amount');
            //     // e.stopImmediatePropagation();
            // });

            // $('.insulin-amount').change(function() {
            //     console.log('insulin-amount');

            //     var amount = $('.insulin-amount').val();

            //     if(!isNaN(amount)) {
            //         // Ajax
            //         var payload = {
            //             amount: parseFloat(amount)
            //         };

            //         // POST to /habits
            //         $.ajax({
            //             method: 'POST',
            //             url: '/set_insulin_amount/',
            //             data: payload,
            //             success: function() {
            //                 // Clear fields
            //                 console.log('SAVED');
            //             }
            //         })
            //     }
            // });

            $('.inject-button').click(function() {
                if($(this).hasClass('inject-button-free')) {
                    $(this).removeClass('inject-button-free').addClass('inject-button-prepped');
                    $(this).text("Prepped")

                    // POST to /habits
                    $.ajax({
                        method: 'GET',
                        url: '/log_insulin/',
                        success: function() {
                            // Clear fields
                        }
                    })

                    setInterval(function() {                        
                        setInterval(function() {
                            location.reload();
                        }, 3000)
                    }, 1000);
                }
                else {
                    $(this).addClass('inject-button-free').removeClass('inject-button-prepped');
                    $(this).text("Inject")
                }
            });

            var data = {
                labels: [1, 2, 3, 4, 5],
                datasets: [
                    {
                        label: "Blood Glucose Levels",
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        pointStrokeColor: "#57D5FF",
                        pointHighlightFill: "#57D5FF",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [141, 145, 112, 161, 143]
                    }
                ]
            };
            var options = {
                showLines : true,
                scales: {
                    xAxes: [{
                        display: false
                    }]
                },
                legend: {
                    display: false
                },
                scaleOverride : true,
                scaleSteps : 8,
                scaleStepWidth : 20,
                scaleStartValue : 80,
            };

            var ctx = document.getElementById("myChart");

            var myLineChart = Chart.Line(ctx, {
                data: data,
                options: options,
            });

        });
    </script>
</body>
</html>