<!DOCTYPE html>
<html>
<head>
    <title>Insupen</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pennapps.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div class="navbar">InsuPen</div>
    <div class="last-injection-container">
        <div class="last-injection-text">Your last dose was 2 units 2 hours ago.</div>
    </div>
    <div class="circle-container">
        <div class="circle">
            <input type="number" class="insulin-amount" value="3.2" />
            <div class="units-text">units of Insulin</div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            // $('body').on('click', function() {
            //     console.log('hello');
            //     $('.insulin-amount').blur();
            //     $('.insulin-amount').val("1.1");
            //     document.activeElement.blur();
            // });

            document.addEventListener('touchstart', function(e) {
                $('.insulin-amount').val("1.1");
                document.activeElement.blur();
            }, false);

            $('.insulin-amount').click(function(e) {
                console.log('insulin amount');
                e.stopImmediatePropagation();
            });
        });
    </script>
</body>
</html>